* {
color: black !important;
box-shadow: none !important;
text-shadow: none !important;
}
.well p{
	font-size: 15px !important;
}
body, #sidebar * {background: none !important;

}

a {text-decoration: underline;}
.noprint {display: none;}
.printonly {display: inline;}

body {font-family: "Helvetica Neue", arial, sans-serif;}
#main-content {width: 100%;}

.clear{
content: ' ';
display: block;
clear: both;
width: 100%;
zoom: 1;
height: 0;
}

hr {border: none; border-bottom: 1px dotted #ddd;}

.skills .span3{
	display: none;
}
.skills .row{
	float:left !important;
}

.up_arrow{
	display: none;
}
.noscreen {
	display: block !important;
}